<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>pl.altkom.web.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>process</servlet-name>
    <servlet-class>pl.altkom.web.RedirectServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>process</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>pl.altkom.web.ControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>add_user</servlet-name>
    <servlet-class>pl.altkom.web.SaveClientDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>add_user</servlet-name>
    <url-pattern>/add_user</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>read_users</servlet-name>
        <servlet-class>pl.altkom.web.ReadClientDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>read_users</servlet-name>
        <url-pattern>/read_users</url-pattern>
    </servlet-mapping>

  <context-param>
    <param-name>adres_email_tworcy</param-name>
    <param-value>pawel.bogdan1@gmail.com</param-value>
  </context-param>

  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc:komis</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <context-param>
    <param-name>dataSource</param-name>
    <param-value>jdbc:komis</param-value>
  </context-param>

  <listener>
    <listener-class>pl.altkom.web.SessionCounter</listener-class>
  </listener>

  <listener>
    <listener-class>pl.altkom.web.SavedClientListener</listener-class>
  </listener>

</web-app>
